teisimple.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI Simple</title>
         </titleStmt>
         <publicationStmt>
            <p/>
         </publicationStmt>
         <sourceDesc>
            <p/>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <p>A total of 104 elements are selected for use in
	the <gi>text</gi> part of a document.</p>
         <list type="gloss">
            <label>castlist</label>
            <item>
               <gi>actor</gi> 
               <gi>castGroup</gi> 
               <gi>castItem</gi> 
               <gi>castList</gi> 
               <gi>role</gi> 
               <gi>roleDesc</gi> 
            </item>
            <label>character</label>
            <item>
               <gi>g</gi> 
            </item>
            <label>editorial</label>
            <item>
               <gi>abbr</gi> 
               <gi>add</gi> 
               <gi>addSpan</gi> 
               <gi>am</gi> 
               <gi>choice</gi> 
               <gi>corr</gi> 
               <gi>del</gi> 
               <gi>desc</gi> 
               <gi>ex</gi> 
               <gi>expan</gi> 
               <gi>gap</gi> 
               <gi>handShift</gi> 
               <gi>orig</gi> 
               <gi>reg</gi> 
               <gi>sic</gi> 
               <gi>space</gi> 
               <gi>subst</gi> 
               <gi>supplied</gi> 
               <gi>unclear</gi> 
            </item>
            <label>interpretation</label>
            <item>
               <gi>author</gi> 
               <gi>date</gi> 
               <gi>foreign</gi> 
               <gi>hi</gi> 
               <gi>measure</gi> 
               <gi>name</gi> 
               <gi>num</gi> 
               <gi>q</gi> 
               <gi>quote</gi> 
               <gi>ref</gi> 
               <gi>rs</gi> 
               <gi>seg</gi> 
               <gi>time</gi> 
            </item>
            <label>linguistic</label>
            <item>
               <gi>c</gi> 
               <gi>pc</gi> 
               <gi>s</gi> 
               <gi>w</gi> 
            </item>
            <label>pictures</label>
            <item>
               <gi>figDesc</gi> 
               <gi>figure</gi> 
               <gi>graphic</gi> 
            </item>
            <label>structure</label>
            <item>
               <gi>bibl</gi> 
               <gi>title</gi> 
               <gi>TEI</gi> 
               <gi>teiCorpus</gi> 
               <gi>ab</gi> 
               <gi>address</gi> 
               <gi>addrLine</gi> 
               <gi>anchor</gi> 
               <gi>back</gi> 
               <gi>body</gi> 
               <gi>cb</gi> 
               <gi>cit</gi> 
               <gi>div</gi> 
               <gi>floatingText</gi> 
               <gi>formula</gi> 
               <gi>front</gi> 
               <gi>fw</gi> 
               <gi>group</gi> 
               <gi>head</gi> 
               <gi>item</gi> 
               <gi>l</gi> 
               <gi>label</gi> 
               <gi>lb</gi> 
               <gi>lg</gi> 
               <gi>list</gi> 
               <gi>listBibl</gi> 
               <gi>milestone</gi> 
               <gi>note</gi> 
               <gi>p</gi> 
               <gi>pb</gi> 
               <gi>sp</gi> 
               <gi>speaker</gi> 
               <gi>spGrp</gi> 
               <gi>stage</gi> 
               <gi>text</gi> 
            </item>
            <label>table</label>
            <item>
               <gi>cell</gi> 
               <gi>row</gi> 
               <gi>table</gi> 
            </item>
            <label>titlepage</label>
            <item>
               <gi>publisher</gi> 
               <gi>pubPlace</gi> 
               <gi>docAuthor</gi> 
               <gi>docDate</gi> 
               <gi>docEdition</gi> 
               <gi>docImprint</gi> 
               <gi>docTitle</gi> 
               <gi>imprimatur</gi> 
               <gi>titlePage</gi> 
               <gi>titlePart</gi> 
            </item>
            <label>wrapper</label>
            <item>
               <gi>argument</gi> 
               <gi>byline</gi> 
               <gi>closer</gi> 
               <gi>dateline</gi> 
               <gi>epigraph</gi> 
               <gi>opener</gi> 
               <gi>postscript</gi> 
               <gi>salute</gi> 
               <gi>signed</gi> 
               <gi>trailer</gi> 
            </item>
         </list>
         <specGrp xml:id="changes">
            <p>A set of unused model classes are removed.</p>
            <classSpec ident="model.entryPart" mode="delete"/>
            <classSpec ident="model.placeNamePart" mode="delete"/>
            <classSpec ident="model.placeStateLike" mode="delete"/>
            <classSpec ident="model.egLike" mode="delete"/>
            <classSpec ident="model.offsetLike" mode="delete"/>
            <classSpec ident="model.pPart.msdesc" mode="delete"/>
            <classSpec ident="model.oddDecl" mode="delete"/>
            <classSpec ident="model.specDescLike" mode="delete"/>
            <classSpec ident="model.entryPart" mode="delete"/>
            <classSpec ident="model.placeNamePart" mode="delete"/>
            <classSpec ident="model.placeStateLike" mode="delete"/>
            <classSpec ident="model.certLike" mode="delete"/>
            <classSpec ident="model.glossLike" mode="delete"/>
            <p>Some uncommon attributes are removed from global linking.</p>
            <classSpec ident="att.global.linking" mode="change">
               <attList>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" mode="change">
               <attList>
                  <attDef ident="target" mode="change">
                     <constraintSpec ident="validtarget" scheme="isoschematron">
                        <constraint>
                           <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:*[@target]">
                              <let name="results"
                                   value="for $t in        tokenize(normalize-space(@target),'\s+') return starts-with($t,'#') and not(id(substring($t,2)))"/>
                              <report test="some $x in $results  satisfies $x">
Error: Every local pointer in "<value-of select="@target"/>" must point to an ID in this document (<value-of select="$results"/>)</report>
                           </rule>
                        </constraint>
                     </constraintSpec>
                  </attDef>
               </attList>
            </classSpec>
            <classSpec ident="att.datcat" mode="delete"/>
            <elementSpec ident="name" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="person"/>
                        <valItem ident="forename"/>
                        <valItem ident="surname"/>
                        <valItem ident="personGenName"/>
                        <valItem ident="personRoleName"/>
                        <valItem ident="personAddName"/>
                        <valItem ident="nameLink"/>
                        <valItem ident="organisation"/>
                        <valItem ident="country"/>
                        <valItem ident="placeGeog"/>
                        <valItem ident="place"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <classSpec ident="att.global" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="change">
                     <valList mode="add" type="semi">
                        <valItem ident="simple:bold"/>
                        <valItem ident="simple:allcaps"/>
                        <valItem ident="simple:italic"/>
                        <valItem ident="simple:normalweight"/>
                        <valItem ident="simple:smallcaps"/>
                        <valItem ident="simple:doublestrikethrough"/>
                        <valItem ident="simple:strikethrough"/>
                        <valItem ident="simple:subscript"/>
                        <valItem ident="simple:superscript"/>
                        <valItem ident="simple:typewriter"/>
                        <valItem ident="simple:doubleunderline"/>
                        <valItem ident="simple:underline"/>
                        <valItem ident="simple:wavyunderlline"/>
                     </valList>
                     <constraintSpec ident="renditionpointer" scheme="isoschematron">
                        <constraint>
                           <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:*[@rendition]">
                              <let name="results"
                                   value="for $val in tokenize(normalize-space(@rendition),'\s+') return        starts-with($val,'simple:')        or        (starts-with($val,'#')        and        //tei:rendition[@xml:id=substring($val,2)])"/>
                              <assert test="every $x in $results satisfies $x">
Error: Each of the rendition values in "<value-of select="@rendition"/>" must point to a local
ID or to a token in the Simple scheme  (<value-of select="$results"/>)</assert>
                           </rule>
                        </constraint>
                     </constraintSpec>
                  </attDef>
               </attList>
            </classSpec>
         </specGrp>
         <specGrp xml:id="transcr">
            <elementRef key="damage"/>
            <elementRef key="damageSpan"/>
            <elementRef key="facsimile"/>
            <elementRef key="line"/>
            <elementRef key="listTranspose"/>
            <elementRef key="metamark"/>
            <elementRef key="mod"/>
            <elementRef key="redo"/>
            <elementRef key="restore"/>
            <elementRef key="retrace"/>
            <elementRef key="sourceDoc"/>
            <elementRef key="surface"/>
            <elementRef key="surfaceGrp"/>
            <elementRef key="surplus"/>
            <elementRef key="transpose"/>
            <elementRef key="undo"/>
            <elementRef key="zone"/>
            <classRef key="att.coordinated"/>
            <classRef key="att.global.change"/>
         </specGrp>
         <specGrp xml:id="header">
            <moduleRef key="header"/>
            <elementRef key="att"/>
            <elementRef key="biblStruct"/>
            <elementRef key="charDecl"/>
            <elementRef key="charProp"/>
            <elementRef key="editor"/>
            <elementRef key="email"/>
            <elementRef key="gi"/>
            <elementRef key="glyph"/>
            <elementRef key="glyphName"/>
            <elementRef key="imprint"/>
            <elementRef key="localName"/>
            <elementRef key="monogr"/>
            <elementRef key="relatedItem"/>
            <elementRef key="resp"/>
            <elementRef key="respStmt"/>
            <elementRef key="teiHeader"/>
            <elementRef key="term"/>
            <elementRef key="textDesc"/>
            <elementRef key="value"/>
            <elementSpec ident="text" mode="change">
               <constraintSpec ident="headeronlyelement" scheme="isoschematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron"
                           context="tei:term|tei:editor|tei:email|tei:att|tei:gi">
                        <report test="ancestor::tei:text">Error: The element <name/> is not permitted outside the header</report>
                     </rule>
                  </constraint>
               </constraintSpec>
            </elementSpec>
         </specGrp>
         <specGrp xml:id="atts">
            <classRef key="att.global.analytic"/>
            <classRef key="att.global.facs"/>
            <classRef key="att.citing"/>
            <classRef key="att.measurement"/>
            <classRef key="att.milestoneUnit"/>
            <classRef key="att.pointing"/>
            <classRef key="att.global.linking"/>
            <classRef key="att.typed"/>
         </specGrp>
         <specGrp xml:id="simple">
            <elementRef key="author"/>
            <elementRef key="bibl"/>
            <elementRef key="date"/>
            <elementRef key="publisher"/>
            <elementRef key="pubPlace"/>
            <elementRef key="title"/>
            <elementRef key="TEI"/>
            <elementRef key="teiCorpus"/>
            <elementRef key="ab"/>
            <elementRef key="abbr"/>
            <elementRef key="actor"/>
            <elementRef key="add"/>
            <elementRef key="address"/>
            <elementRef key="addrLine"/>
            <elementRef key="addSpan"/>
            <elementRef key="am"/>
            <elementRef key="anchor"/>
            <elementRef key="argument"/>
            <elementRef key="back"/>
            <elementRef key="body"/>
            <elementRef key="byline"/>
            <elementRef key="c"/>
            <elementRef key="castGroup"/>
            <elementRef key="castItem"/>
            <elementRef key="castList"/>
            <elementRef key="cb"/>
            <elementRef key="cell"/>
            <elementRef key="choice"/>
            <elementRef key="cit"/>
            <elementRef key="closer"/>
            <elementRef key="corr"/>
            <elementRef key="dateline"/>
            <elementRef key="del"/>
            <elementRef key="desc"/>
            <elementRef key="div"/>
            <elementRef key="docAuthor"/>
            <elementRef key="docDate"/>
            <elementRef key="docEdition"/>
            <elementRef key="docImprint"/>
            <elementRef key="docTitle"/>
            <elementRef key="epigraph"/>
            <elementRef key="ex"/>
            <elementRef key="expan"/>
            <elementRef key="figDesc"/>
            <elementRef key="figure"/>
            <elementRef key="floatingText"/>
            <elementRef key="foreign"/>
            <elementRef key="formula"/>
            <elementRef key="front"/>
            <elementRef key="fw"/>
            <elementRef key="g"/>
            <elementRef key="gap"/>
            <elementRef key="graphic"/>
            <elementRef key="group"/>
            <elementRef key="handShift"/>
            <elementRef key="head"/>
            <elementRef key="hi"/>
            <elementRef key="imprimatur"/>
            <elementRef key="item"/>
            <elementRef key="l"/>
            <elementRef key="label"/>
            <elementRef key="lb"/>
            <elementRef key="lg"/>
            <elementRef key="list"/>
            <elementRef key="listBibl"/>
            <elementRef key="measure"/>
            <elementRef key="milestone"/>
            <elementRef key="name"/>
            <elementRef key="note"/>
            <elementRef key="num"/>
            <elementRef key="opener"/>
            <elementRef key="orig"/>
            <elementRef key="p"/>
            <elementRef key="pb"/>
            <elementRef key="pc"/>
            <elementRef key="postscript"/>
            <elementRef key="q"/>
            <elementRef key="quote"/>
            <elementRef key="ref"/>
            <elementRef key="reg"/>
            <elementRef key="role"/>
            <elementRef key="roleDesc"/>
            <elementRef key="row"/>
            <elementRef key="rs"/>
            <elementRef key="s"/>
            <elementRef key="salute"/>
            <elementRef key="seg"/>
            <elementRef key="sic"/>
            <elementRef key="signed"/>
            <elementRef key="sp"/>
            <elementRef key="space"/>
            <elementRef key="speaker"/>
            <elementRef key="spGrp"/>
            <elementRef key="stage"/>
            <elementRef key="subst"/>
            <elementRef key="supplied"/>
            <elementRef key="table"/>
            <elementRef key="text"/>
            <elementRef key="time"/>
            <elementRef key="titlePage"/>
            <elementRef key="titlePart"/>
            <elementRef key="trailer"/>
            <elementRef key="unclear"/>
            <elementRef key="w"/>
         </specGrp>
         <schemaSpec ident="oddbyexample" start="TEI teiCorpus">
            <moduleRef key="tei"/>
            <specGrpRef target="#base"/>
            <specGrpRef target="#header"/>
            <specGrpRef target="#transcr"/>
            <specGrpRef target="#atts"/>
            <specGrpRef target="#simple"/>
            <specGrpRef target="#changes"/>
         </schemaSpec>
      </body>
   </text>
</TEI>
