teisimple.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:skos="http://www.w3.org/2004/02/skos/core#"
     xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI Simple</title>
         </titleStmt>
         <publicationStmt>
            <publisher>TEI Consortium</publisher>
            <availability>
               <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a Creative
      Commons Attribution-ShareAlike 3.0 Unported License </licence>
               <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
                  <p>Copyright 2014 TEI Consortium.</p>
                  <p>All rights reserved.</p>
                  <p>Redistribution and use in source and binary forms, with or without modification, are
       permitted provided that the following conditions are met:</p>
                  <list>
                     <item>Redistributions of source code must retain the above copyright notice, this list of
        conditions and the following disclaimer.</item>
                     <item>Redistributions in binary form must reproduce the above copyright notice, this list of
        conditions and the following disclaimer in the documentation and/or other materials provided
        with the distribution.</item>
                  </list>
                  <p>This software is provided by the copyright holders and contributors "as is" and any express
       or implied warranties, including, but not limited to, the implied warranties of
       merchantability and fitness for a particular purpose are disclaimed. In no event shall the
       copyright holder or contributors be liable for any direct, indirect, incidental, special,
       exemplary, or consequential damages (including, but not limited to, procurement of substitute
       goods or services; loss of use, data, or profits; or business interruption) however caused
       and on any theory of liability, whether in contract, strict liability, or tort (including
       negligence or otherwise) arising in any way out of the use of this software, even if advised
       of the possibility of such damage.</p>
               </licence>
               <p>TEI material can be licensed differently depending on the use you intend to make of it.
      Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
      generally appropriate for usages which treat TEI content as data or documentation. The BSD-2
      licence is generally appropriate for usage of TEI content in a software environment. For
      further information or clarification, please contact the <ref target="mailto:info@tei-c.org">TEI Consortium</ref>. </p>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <p>created ab initio during a meeting in Oxford</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <front>
         <titlePage>
            <docTitle>
               <titlePart type="main">TEI Simple</titlePart>
            </docTitle>
            <docAuthor>Sebastian Rahtz</docAuthor>
            <docAuthor>Brian Pytlik Zillig</docAuthor>
            <docAuthor>Martin Mueller</docAuthor>
            <docDate>Version 0.1: 30th November 2014</docDate>
         </titlePage>
      </front>
      <body>
         <p>A total of 104 elements are selected for use in
	the <gi>text</gi> part of a document.</p>
         <table>
            <row role="label">
               <cell>Element</cell>
               <cell>dbnl</cell>
               <cell>obvil</cell>
               <cell>cesr</cell>
               <cell>ota</cell>
               <cell>dta</cell>
               <cell>TCP</cell>
               <cell>Use</cell>
               <cell>Action</cell>
            </row>
            <row>
               <cell>TEI</cell>
               <cell>10172</cell>
               <cell>126</cell>
               <cell>50</cell>
               <cell>457</cell>
               <cell>848</cell>
               <cell>61315</cell>
               <cell>root</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>ab</cell>
               <cell>0</cell>
               <cell>290</cell>
               <cell>1022</cell>
               <cell>60480</cell>
               <cell>0</cell>
               <cell>668</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>abbr</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>1482</cell>
               <cell>0</cell>
               <cell>69</cell>
               <cell>533814</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>actor</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>12</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>castlist</cell>
            </row>
            <row>
               <cell>add</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>71</cell>
               <cell>65</cell>
               <cell>0</cell>
               <cell>2441</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>addName</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>7</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>addSpan</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>2</cell>
               <cell>0</cell>
               <cell>4</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>addrLine</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>10</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>address</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>5</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>am</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>166291</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>anchor</cell>
               <cell>0</cell>
               <cell>233</cell>
               <cell>0</cell>
               <cell>29</cell>
               <cell>0</cell>
               <cell>4</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>argument</cell>
               <cell>0</cell>
               <cell>151</cell>
               <cell>0</cell>
               <cell>57</cell>
               <cell>2268</cell>
               <cell>71478</cell>
               <cell>text</cell>
               <cell>wrapper</cell>
            </row>
            <row>
               <cell>att</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>author</cell>
               <cell>0</cell>
               <cell>34</cell>
               <cell>83</cell>
               <cell>1</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>both</cell>
               <cell>interpretation</cell>
            </row>
            <row>
               <cell>back</cell>
               <cell>0</cell>
               <cell>1</cell>
               <cell>29</cell>
               <cell>77</cell>
               <cell>608</cell>
               <cell>24439</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>bibl</cell>
               <cell>3187</cell>
               <cell>274</cell>
               <cell>155</cell>
               <cell>414</cell>
               <cell>4362</cell>
               <cell>296835</cell>
               <cell>both</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>biblFull</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>biblStruct</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>body</cell>
               <cell>10171</cell>
               <cell>126</cell>
               <cell>50</cell>
               <cell>688</cell>
               <cell>1155</cell>
               <cell>106968</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>byline</cell>
               <cell>0</cell>
               <cell>17</cell>
               <cell>8</cell>
               <cell>619</cell>
               <cell>1028</cell>
               <cell>12525</cell>
               <cell>text</cell>
               <cell>wrapper</cell>
            </row>
            <row>
               <cell>c</cell>
               <cell>8966</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>linguistic</cell>
            </row>
            <row>
               <cell>caesura</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>30299</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>castGroup</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>29</cell>
               <cell>0</cell>
               <cell>51</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>castlist</cell>
            </row>
            <row>
               <cell>castItem</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>63</cell>
               <cell>90</cell>
               <cell>744</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>castlist</cell>
            </row>
            <row>
               <cell>castList</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>28</cell>
               <cell>4</cell>
               <cell>74</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>castlist</cell>
            </row>
            <row>
               <cell>cb</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>66</cell>
               <cell>0</cell>
               <cell>26294</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>cell</cell>
               <cell>5.895818E6</cell>
               <cell>242</cell>
               <cell>3218</cell>
               <cell>1282</cell>
               <cell>34153</cell>
               <cell>3.45522E6</cell>
               <cell>text</cell>
               <cell>table</cell>
            </row>
            <row>
               <cell>change</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>charDecl</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>charProp</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>choice</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>61228</cell>
               <cell>770</cell>
               <cell>8799</cell>
               <cell>4106</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>cit</cell>
               <cell>3209</cell>
               <cell>12</cell>
               <cell>99</cell>
               <cell>155</cell>
               <cell>5431</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>closer</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>35</cell>
               <cell>88</cell>
               <cell>1430</cell>
               <cell>122281</cell>
               <cell>text</cell>
               <cell>wrapper</cell>
            </row>
            <row>
               <cell>code</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>1</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>corr</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>3103</cell>
               <cell>505</cell>
               <cell>5966</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>country</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>1</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>date</cell>
               <cell>7842</cell>
               <cell>47</cell>
               <cell>119</cell>
               <cell>61</cell>
               <cell>112</cell>
               <cell>64488</cell>
               <cell>both</cell>
               <cell>interpretation</cell>
            </row>
            <row>
               <cell>dateline</cell>
               <cell>0</cell>
               <cell>382</cell>
               <cell>1</cell>
               <cell>0</cell>
               <cell>2264</cell>
               <cell>53370</cell>
               <cell>text</cell>
               <cell>wrapper</cell>
            </row>
            <row>
               <cell>del</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>62</cell>
               <cell>15</cell>
               <cell>0</cell>
               <cell>7</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>desc</cell>
               <cell>0</cell>
               <cell>186</cell>
               <cell>0</cell>
               <cell>241</cell>
               <cell>0</cell>
               <cell>6.87805E6</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>div</cell>
               <cell>1.856262E6</cell>
               <cell>4584</cell>
               <cell>2128</cell>
               <cell>16744</cell>
               <cell>104832</cell>
               <cell>1.564908E6</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>docAuthor</cell>
               <cell>0</cell>
               <cell>14</cell>
               <cell>0</cell>
               <cell>381</cell>
               <cell>823</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>titlepage</cell>
            </row>
            <row>
               <cell>docDate</cell>
               <cell>0</cell>
               <cell>388</cell>
               <cell>44</cell>
               <cell>6</cell>
               <cell>899</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>titlepage</cell>
            </row>
            <row>
               <cell>docEdition</cell>
               <cell>0</cell>
               <cell>1</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>14</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>titlepage</cell>
            </row>
            <row>
               <cell>docImprint</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>46</cell>
               <cell>223</cell>
               <cell>946</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>titlepage</cell>
            </row>
            <row>
               <cell>docTitle</cell>
               <cell>0</cell>
               <cell>1</cell>
               <cell>48</cell>
               <cell>349</cell>
               <cell>1156</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>titlepage</cell>
            </row>
            <row>
               <cell>editor</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>editorialDecl</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>email</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>emph</cell>
               <cell>0</cell>
               <cell>1090</cell>
               <cell>0</cell>
               <cell>6711</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>encodingDesc</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>epigraph</cell>
               <cell>0</cell>
               <cell>2</cell>
               <cell>2</cell>
               <cell>487</cell>
               <cell>137</cell>
               <cell>45743</cell>
               <cell>text</cell>
               <cell>wrapper</cell>
            </row>
            <row>
               <cell>ex</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>166291</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>expan</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>1837</cell>
               <cell>0</cell>
               <cell>69</cell>
               <cell>170397</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>extent</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>figDesc</cell>
               <cell>151116</cell>
               <cell>0</cell>
               <cell>55</cell>
               <cell>87</cell>
               <cell>0</cell>
               <cell>27314</cell>
               <cell>text</cell>
               <cell>pictures</cell>
            </row>
            <row>
               <cell>figure</cell>
               <cell>329174</cell>
               <cell>206</cell>
               <cell>480</cell>
               <cell>227</cell>
               <cell>16866</cell>
               <cell>95853</cell>
               <cell>text</cell>
               <cell>pictures</cell>
            </row>
            <row>
               <cell>fileDesc</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>floatingText</cell>
               <cell>0</cell>
               <cell>1</cell>
               <cell>0</cell>
               <cell>61</cell>
               <cell>307</cell>
               <cell>40502</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>foreign</cell>
               <cell>0</cell>
               <cell>46</cell>
               <cell>3348</cell>
               <cell>2365</cell>
               <cell>1929</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>interpretation</cell>
            </row>
            <row>
               <cell>forename</cell>
               <cell>0</cell>
               <cell>1</cell>
               <cell>35</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>formula</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>25670</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>front</cell>
               <cell>13</cell>
               <cell>25</cell>
               <cell>48</cell>
               <cell>380</cell>
               <cell>851</cell>
               <cell>49991</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>fw</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>20554</cell>
               <cell>15</cell>
               <cell>336239</cell>
               <cell>1268</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>g</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>1012</cell>
               <cell>489</cell>
               <cell>493</cell>
               <cell>915406</cell>
               <cell>text</cell>
               <cell>character</cell>
            </row>
            <row>
               <cell>gap</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>18</cell>
               <cell>293</cell>
               <cell>5731</cell>
               <cell>6.878505E6</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>genName</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>7</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>gi</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>gloss</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>45</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>glyph</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>glyphName</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>graphic</cell>
               <cell>0</cell>
               <cell>22</cell>
               <cell>362</cell>
               <cell>199</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>pictures</cell>
            </row>
            <row>
               <cell>group</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>20</cell>
               <cell>0</cell>
               <cell>2789</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>handShift</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>head</cell>
               <cell>1.958142E6</cell>
               <cell>4961</cell>
               <cell>2526</cell>
               <cell>14508</cell>
               <cell>117506</cell>
               <cell>1.811315E6</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>hi</cell>
               <cell>2.117913E7</cell>
               <cell>56953</cell>
               <cell>9424</cell>
               <cell>134872</cell>
               <cell>2.367314E6</cell>
               <cell>5.7472111E7</cell>
               <cell>text</cell>
               <cell>interpretation</cell>
            </row>
            <row>
               <cell>idno</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>imprimatur</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>25</cell>
               <cell>23</cell>
               <cell>63</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>titlepage</cell>
            </row>
            <row>
               <cell>imprint</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>item</cell>
               <cell>3.125926E6</cell>
               <cell>2023</cell>
               <cell>1806</cell>
               <cell>12400</cell>
               <cell>187951</cell>
               <cell>3.77902E6</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>keywords</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>l</cell>
               <cell>1.1532201E7</cell>
               <cell>21004</cell>
               <cell>39828</cell>
               <cell>268768</cell>
               <cell>557846</cell>
               <cell>1.1307818E7</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>label</cell>
               <cell>483377</cell>
               <cell>621</cell>
               <cell>469</cell>
               <cell>1712</cell>
               <cell>0</cell>
               <cell>618039</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>lb</cell>
               <cell>1.35272E6</cell>
               <cell>3008</cell>
               <cell>237202</cell>
               <cell>233546</cell>
               <cell>9.689271E6</cell>
               <cell>24097</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>lg</cell>
               <cell>528349</cell>
               <cell>316</cell>
               <cell>4481</cell>
               <cell>5790</cell>
               <cell>84157</cell>
               <cell>791590</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>licence</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>list</cell>
               <cell>272365</cell>
               <cell>621</cell>
               <cell>115</cell>
               <cell>526</cell>
               <cell>24877</cell>
               <cell>407478</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>listBibl</cell>
               <cell>0</cell>
               <cell>1</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>26</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>listChange</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>localName</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>measure</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>interpretation</cell>
            </row>
            <row>
               <cell>milestone</cell>
               <cell>0</cell>
               <cell>46</cell>
               <cell>13</cell>
               <cell>4881</cell>
               <cell>49313</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>monogr</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>msDesc</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>msIdentifier</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>name</cell>
               <cell>536288</cell>
               <cell>12265</cell>
               <cell>32997</cell>
               <cell>2541</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>interpretation</cell>
            </row>
            <row>
               <cell>nameLink</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>18</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>note</cell>
               <cell>2.705214E6</cell>
               <cell>9451</cell>
               <cell>2874</cell>
               <cell>4965</cell>
               <cell>187675</cell>
               <cell>5.710304E6</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>num</cell>
               <cell>0</cell>
               <cell>862</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>interpretation</cell>
            </row>
            <row>
               <cell>opener</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>2</cell>
               <cell>21</cell>
               <cell>513</cell>
               <cell>77640</cell>
               <cell>text</cell>
               <cell>wrapper</cell>
            </row>
            <row>
               <cell>orgName</cell>
               <cell>0</cell>
               <cell>30</cell>
               <cell>4607</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>orig</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>57301</cell>
               <cell>274</cell>
               <cell>2769</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>p</cell>
               <cell>1.2413479E7</cell>
               <cell>68273</cell>
               <cell>4855</cell>
               <cell>391507</cell>
               <cell>607881</cell>
               <cell>1.1892546E7</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>pb</cell>
               <cell>2.814727E6</cell>
               <cell>6156</cell>
               <cell>9497</cell>
               <cell>22352</cell>
               <cell>311001</cell>
               <cell>5.424219E6</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>pc</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>230</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>linguistic</cell>
            </row>
            <row>
               <cell>persName</cell>
               <cell>0</cell>
               <cell>4045</cell>
               <cell>662</cell>
               <cell>0</cell>
               <cell>26217</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>physDesc</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>placeName</cell>
               <cell>0</cell>
               <cell>386</cell>
               <cell>11646</cell>
               <cell>0</cell>
               <cell>18652</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>postscript</cell>
               <cell>0</cell>
               <cell>17</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>133</cell>
               <cell>6142</cell>
               <cell>text</cell>
               <cell>wrapper</cell>
            </row>
            <row>
               <cell>profileDesc</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>ptr</cell>
               <cell>376134</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>180</cell>
               <cell>0</cell>
               <cell>635</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>pubPlace</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>37</cell>
               <cell>2</cell>
               <cell>918</cell>
               <cell>0</cell>
               <cell>both</cell>
               <cell>titlepage</cell>
            </row>
            <row>
               <cell>publicationStmt</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>publisher</cell>
               <cell>0</cell>
               <cell>2</cell>
               <cell>35</cell>
               <cell>0</cell>
               <cell>910</cell>
               <cell>0</cell>
               <cell>both</cell>
               <cell>titlepage</cell>
            </row>
            <row>
               <cell>q</cell>
               <cell>212432</cell>
               <cell>4270</cell>
               <cell>29</cell>
               <cell>5829</cell>
               <cell>0</cell>
               <cell>695548</cell>
               <cell>text</cell>
               <cell>interpretation</cell>
            </row>
            <row>
               <cell>quote</cell>
               <cell>0</cell>
               <cell>5459</cell>
               <cell>270</cell>
               <cell>2597</cell>
               <cell>5744</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>interpretation</cell>
            </row>
            <row>
               <cell>ref</cell>
               <cell>537332</cell>
               <cell>240</cell>
               <cell>1119</cell>
               <cell>1240</cell>
               <cell>140328</cell>
               <cell>3541</cell>
               <cell>text</cell>
               <cell>interpretation</cell>
            </row>
            <row>
               <cell>reg</cell>
               <cell>442</cell>
               <cell>0</cell>
               <cell>57311</cell>
               <cell>274</cell>
               <cell>2765</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>relatedItem</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>resp</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>respStmt</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>role</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>33</cell>
               <cell>31</cell>
               <cell>735</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>castlist</cell>
            </row>
            <row>
               <cell>roleDesc</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>9</cell>
               <cell>0</cell>
               <cell>70</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>castlist</cell>
            </row>
            <row>
               <cell>roleName</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>70</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>row</cell>
               <cell>2.064752E6</cell>
               <cell>70</cell>
               <cell>1311</cell>
               <cell>327</cell>
               <cell>12571</cell>
               <cell>799618</cell>
               <cell>text</cell>
               <cell>table</cell>
            </row>
            <row>
               <cell>rs</cell>
               <cell>1</cell>
               <cell>5</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>interpretation</cell>
            </row>
            <row>
               <cell>s</cell>
               <cell>1</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>linguistic</cell>
            </row>
            <row>
               <cell>salute</cell>
               <cell>0</cell>
               <cell>11</cell>
               <cell>10</cell>
               <cell>97</cell>
               <cell>2490</cell>
               <cell>64544</cell>
               <cell>text</cell>
               <cell>wrapper</cell>
            </row>
            <row>
               <cell>seg</cell>
               <cell>46611</cell>
               <cell>47</cell>
               <cell>0</cell>
               <cell>10304</cell>
               <cell>0</cell>
               <cell>148733</cell>
               <cell>text</cell>
               <cell>interpretation</cell>
            </row>
            <row>
               <cell>sic</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>3707</cell>
               <cell>534</cell>
               <cell>5960</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>signed</cell>
               <cell>93</cell>
               <cell>33</cell>
               <cell>37</cell>
               <cell>118</cell>
               <cell>48</cell>
               <cell>106105</cell>
               <cell>text</cell>
               <cell>wrapper</cell>
            </row>
            <row>
               <cell>soCalled</cell>
               <cell>2</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>12</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>sourceDesc</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>sp</cell>
               <cell>320117</cell>
               <cell>12</cell>
               <cell>1997</cell>
               <cell>76237</cell>
               <cell>42050</cell>
               <cell>1.661335E6</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>spGrp</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>35</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>space</cell>
               <cell>0</cell>
               <cell>1044</cell>
               <cell>19559</cell>
               <cell>0</cell>
               <cell>20962</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>speaker</cell>
               <cell>304183</cell>
               <cell>12</cell>
               <cell>1978</cell>
               <cell>76198</cell>
               <cell>42021</cell>
               <cell>1.652394E6</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>stage</cell>
               <cell>60645</cell>
               <cell>39</cell>
               <cell>17</cell>
               <cell>10195</cell>
               <cell>14041</cell>
               <cell>246384</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>subst</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>11</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>2</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>supplied</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>34</cell>
               <cell>0</cell>
               <cell>11095</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>surname</cell>
               <cell>0</cell>
               <cell>490</cell>
               <cell>38</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>no</cell>
            </row>
            <row>
               <cell>table</cell>
               <cell>164693</cell>
               <cell>7</cell>
               <cell>103</cell>
               <cell>19</cell>
               <cell>5219</cell>
               <cell>43935</cell>
               <cell>text</cell>
               <cell>table</cell>
            </row>
            <row>
               <cell>teiCorpus</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>root</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>teiHeader</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>teiHeader</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>term</cell>
               <cell>1451</cell>
               <cell>113</cell>
               <cell>181</cell>
               <cell>51</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>both</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>text</cell>
               <cell>10171</cell>
               <cell>126</cell>
               <cell>50</cell>
               <cell>645</cell>
               <cell>848</cell>
               <cell>69238</cell>
               <cell>text</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>textClass</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>textDesc</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>time</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>interpretation</cell>
            </row>
            <row>
               <cell>title</cell>
               <cell>208735</cell>
               <cell>6583</cell>
               <cell>88</cell>
               <cell>265</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>both</cell>
               <cell>structure</cell>
            </row>
            <row>
               <cell>titlePage</cell>
               <cell>0</cell>
               <cell>1</cell>
               <cell>48</cell>
               <cell>359</cell>
               <cell>1097</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>titlepage</cell>
            </row>
            <row>
               <cell>titlePart</cell>
               <cell>0</cell>
               <cell>1</cell>
               <cell>85</cell>
               <cell>467</cell>
               <cell>2399</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>titlepage</cell>
            </row>
            <row>
               <cell>titleStmt</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>header</cell>
            </row>
            <row>
               <cell>trailer</cell>
               <cell>0</cell>
               <cell>2</cell>
               <cell>104</cell>
               <cell>230</cell>
               <cell>363</cell>
               <cell>69313</cell>
               <cell>text</cell>
               <cell>wrapper</cell>
            </row>
            <row>
               <cell>unclear</cell>
               <cell>0</cell>
               <cell>1</cell>
               <cell>117</cell>
               <cell>2658</cell>
               <cell>0</cell>
               <cell>4038</cell>
               <cell>text</cell>
               <cell>editorial</cell>
            </row>
            <row>
               <cell>value</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>header</cell>
               <cell>headeronly</cell>
            </row>
            <row>
               <cell>w</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>0</cell>
               <cell>text</cell>
               <cell>linguistic</cell>
            </row>
         </table>
         <list type="gloss">
            <label>castlist</label>
            <item>
               <gi>actor</gi> 
               <gi>castGroup</gi> 
               <gi>castItem</gi> 
               <gi>castList</gi> 
               <gi>role</gi> 
               <gi>roleDesc</gi> 
            </item>
            <label>character</label>
            <item>
               <gi>g</gi> 
            </item>
            <label>editorial</label>
            <item>
               <gi>abbr</gi> 
               <gi>add</gi> 
               <gi>addSpan</gi> 
               <gi>am</gi> 
               <gi>choice</gi> 
               <gi>corr</gi> 
               <gi>del</gi> 
               <gi>desc</gi> 
               <gi>ex</gi> 
               <gi>expan</gi> 
               <gi>gap</gi> 
               <gi>handShift</gi> 
               <gi>orig</gi> 
               <gi>reg</gi> 
               <gi>sic</gi> 
               <gi>space</gi> 
               <gi>subst</gi> 
               <gi>supplied</gi> 
               <gi>unclear</gi> 
            </item>
            <label>interpretation</label>
            <item>
               <gi>author</gi> 
               <gi>date</gi> 
               <gi>foreign</gi> 
               <gi>hi</gi> 
               <gi>measure</gi> 
               <gi>name</gi> 
               <gi>num</gi> 
               <gi>q</gi> 
               <gi>quote</gi> 
               <gi>ref</gi> 
               <gi>rs</gi> 
               <gi>seg</gi> 
               <gi>time</gi> 
            </item>
            <label>linguistic</label>
            <item>
               <gi>c</gi> 
               <gi>pc</gi> 
               <gi>s</gi> 
               <gi>w</gi> 
            </item>
            <label>pictures</label>
            <item>
               <gi>figDesc</gi> 
               <gi>figure</gi> 
               <gi>graphic</gi> 
            </item>
            <label>structure</label>
            <item>
               <gi>bibl</gi> 
               <gi>title</gi> 
               <gi>TEI</gi> 
               <gi>teiCorpus</gi> 
               <gi>ab</gi> 
               <gi>address</gi> 
               <gi>addrLine</gi> 
               <gi>anchor</gi> 
               <gi>back</gi> 
               <gi>body</gi> 
               <gi>cb</gi> 
               <gi>cit</gi> 
               <gi>div</gi> 
               <gi>floatingText</gi> 
               <gi>formula</gi> 
               <gi>front</gi> 
               <gi>fw</gi> 
               <gi>group</gi> 
               <gi>head</gi> 
               <gi>item</gi> 
               <gi>l</gi> 
               <gi>label</gi> 
               <gi>lb</gi> 
               <gi>lg</gi> 
               <gi>list</gi> 
               <gi>listBibl</gi> 
               <gi>milestone</gi> 
               <gi>note</gi> 
               <gi>p</gi> 
               <gi>pb</gi> 
               <gi>sp</gi> 
               <gi>speaker</gi> 
               <gi>spGrp</gi> 
               <gi>stage</gi> 
               <gi>text</gi> 
            </item>
            <label>table</label>
            <item>
               <gi>cell</gi> 
               <gi>row</gi> 
               <gi>table</gi> 
            </item>
            <label>titlepage</label>
            <item>
               <gi>publisher</gi> 
               <gi>pubPlace</gi> 
               <gi>docAuthor</gi> 
               <gi>docDate</gi> 
               <gi>docEdition</gi> 
               <gi>docImprint</gi> 
               <gi>docTitle</gi> 
               <gi>imprimatur</gi> 
               <gi>titlePage</gi> 
               <gi>titlePart</gi> 
            </item>
            <label>wrapper</label>
            <item>
               <gi>argument</gi> 
               <gi>byline</gi> 
               <gi>closer</gi> 
               <gi>dateline</gi> 
               <gi>epigraph</gi> 
               <gi>opener</gi> 
               <gi>postscript</gi> 
               <gi>salute</gi> 
               <gi>signed</gi> 
               <gi>trailer</gi> 
            </item>
         </list>
         <div>
            <head>The base TEI infrastructure</head>
            <specGrp xml:id="base">
               <moduleRef key="tei"/>
            </specGrp>
         </div>
         <div>
            <head>The header</head>
            <p>The default set of elements for the header are loaded
	    using the <term>header</term> module. In addition,
	    elements from other modules are loaded, if they are tagged
	    in the classification as being needed for the header only.</p>
            <specGrp xml:id="header">
               <moduleRef key="header"/>
               <elementRef key="att"/>
               <elementRef key="biblStruct"/>
               <elementRef key="charDecl"/>
               <elementRef key="charProp"/>
               <elementRef key="editor"/>
               <elementRef key="email"/>
               <elementRef key="gi"/>
               <elementRef key="glyph"/>
               <elementRef key="glyphName"/>
               <elementRef key="imprint"/>
               <elementRef key="localName"/>
               <elementRef key="monogr"/>
               <elementRef key="relatedItem"/>
               <elementRef key="resp"/>
               <elementRef key="respStmt"/>
               <elementRef key="teiHeader"/>
               <elementRef key="term"/>
               <elementRef key="textDesc"/>
               <elementRef key="value"/>
               <p>Elements which are only intended to be used in the
	    header are banned from the <gi>text</gi>, using a
	    Schematron rule.</p>
               <elementSpec ident="text" mode="change">
                  <constraintSpec ident="headeronlyelement" scheme="isoschematron">
                     <constraint>
                        <rule xmlns="http://purl.oclc.org/dsdl/schematron"
                              context="tei:term|tei:editor|tei:email|tei:att|tei:gi">
                           <report test="ancestor::tei:text">Error: The element <name/> is not permitted outside the header</report>
                        </rule>
                     </constraint>
                  </constraintSpec>
               </elementSpec>
            </specGrp>
         </div>
         <div>
            <head>Transcription</head>
            <p>In order to support the <gi>sourcedoc</gi> and
	    <gi>facsimile</gi> elements, the basic transcriptional
	    elements are loaded, and two attribute classes.</p>
            <specGrp xml:id="transcr">
               <elementRef key="damage"/>
               <elementRef key="damageSpan"/>
               <elementRef key="facsimile"/>
               <elementRef key="line"/>
               <elementRef key="listTranspose"/>
               <elementRef key="metamark"/>
               <elementRef key="mod"/>
               <elementRef key="redo"/>
               <elementRef key="restore"/>
               <elementRef key="retrace"/>
               <elementRef key="sourceDoc"/>
               <elementRef key="surface"/>
               <elementRef key="surfaceGrp"/>
               <elementRef key="surplus"/>
               <elementRef key="transpose"/>
               <elementRef key="undo"/>
               <elementRef key="zone"/>
               <classRef key="att.coordinated"/>
               <classRef key="att.global.change"/>
            </specGrp>
         </div>
         <div>
            <head>Attribute classes</head>
            <specGrp xml:id="attclasses">
               <p>The <term>tei</term> module brings with it a default
	    set of attribute classes. We need some more specialist
	    ones from other modules, and to delete some default ones
	    which we don't plan to use.</p>
               <classRef key="att.global.analytic"/>
               <classRef key="att.global.facs"/>
               <classRef key="att.milestoneUnit"/>
               <classRef key="att.global.linking"/>
               <classSpec ident="att.datcat" mode="delete"/>
               <classSpec ident="att.declarable" mode="delete"/>
               <classSpec ident="att.divLike" mode="delete"/>
               <classSpec ident="att.fragmentable" mode="delete"/>
               <p>Some uncommon attributes are removed from global linking.</p>
               <classSpec ident="att.global.linking" mode="change">
                  <attList>
                     <attDef ident="synch" mode="delete"/>
                     <attDef ident="sameAs" mode="delete"/>
                     <attDef ident="copyOf" mode="delete"/>
                     <attDef ident="exclude" mode="delete"/>
                     <attDef ident="select" mode="delete"/>
                  </attList>
               </classSpec>
               <p>Constrained value lists are added to attribute classes
	    where possible.</p>
               <classSpec ident="att.pointing" mode="change">
                  <attList>
                     <attDef ident="target" mode="change">
                        <constraintSpec ident="validtarget" scheme="isoschematron">
                           <constraint>
                              <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:*[@target]">
                                 <let name="results"
                                      value="for $t in        tokenize(normalize-space(@target),'\s+') return starts-with($t,'#') and not(id(substring($t,2)))"/>
                                 <report test="some $x in $results  satisfies $x">
Error: Every local pointer in "<value-of select="@target"/>" must point to an ID in this document (<value-of select="$results"/>)</report>
                              </rule>
                           </constraint>
                        </constraintSpec>
                     </attDef>
                  </attList>
               </classSpec>
               <classSpec mode="change" ident="att.placement">
                  <attList>
                     <attDef ident="place" mode="change">
                        <valList type="closed" mode="replace">
                           <valItem ident="above">
                              <skos:exactMatch>supralinear</skos:exactMatch>
                              <desc>above the line</desc>
                           </valItem>
                           <valItem ident="below">
                              <desc>below the line</desc>
                           </valItem>
                           <valItem ident="top">
                              <skos:exactMatch>pageTop</skos:exactMatch>
                              <desc>at the top of the page</desc>
                           </valItem>
                           <valItem ident="top-right">
                              <desc>at the top right of the page</desc>
                           </valItem>
                           <valItem ident="top-left">
                              <desc>at the top left of the page</desc>
                           </valItem>
                           <valItem ident="top-center">
                              <desc>at the top center of the page</desc>
                           </valItem>
                           <valItem ident="bottom-right">
                              <skos:exactMatch>bot-right</skos:exactMatch>
                              <desc>at the bottom right of the page</desc>
                           </valItem>
                           <valItem ident="bottom-left">
                              <skos:exactMatch>bot-left</skos:exactMatch>
                              <desc>at the bottom left of the page</desc>
                           </valItem>
                           <valItem ident="bottom-center">
                              <skos:exactMatch>bot-center</skos:exactMatch>
                              <desc>at the bottom center of the page</desc>
                           </valItem>
                           <valItem ident="bottom">
                              <skos:exactMatch>foot</skos:exactMatch>
                              <desc>at the foot of the page</desc>
                           </valItem>
                           <valItem ident="tablebottom">
                              <valItem ident="tablefoot">
                                 <desc>at the foot of the table</desc>
                              </valItem>
                              <valItem ident="margin">
                                 <skos:exactMatch>margin-outer</skos:exactMatch>
                                 <skos:exactMatch>marg1</skos:exactMatch>
                                 <skos:exactMatch>marg2</skos:exactMatch>
                                 <skos:exactMatch>marg4</skos:exactMatch>
                                 <skos:exactMatch>margin</skos:exactMatch>
                                 <desc>in the outer margin</desc>
                              </valItem>
                              <valItem ident="margin-left">
                                 <skos:exactMatch>left</skos:exactMatch>
                                 <desc>in the left margin</desc>
                              </valItem>
                              <valItem ident="margin-right">
                                 <skos:exactMatch>right</skos:exactMatch>
                                 <desc>in the right margin</desc>
                              </valItem>
                              <valItem ident="opposite">
                                 <desc>on the opposite, i.e. facing, page.</desc>
                              </valItem>
                              <valItem ident="overleaf">
                                 <desc>on the other side of the leaf.</desc>
                              </valItem>
                              <valItem ident="end">
                                 <desc>at the end of the volume.</desc>
                              </valItem>
                              <valItem ident="divend">
                                 <desc>at the end the current division.</desc>
                              </valItem>
                              <valItem ident="parend">
                                 <desc>at the end the current paragraph.</desc>
                              </valItem>
                              <valItem ident="inline">
                                 <skos:exactMatch>in</skos:exactMatch>
                                 <desc>within the body of the text.</desc>
                              </valItem>
                              <valItem ident="inspace">
                                 <desc>in a predefined space, for example left by an earlier scribe.</desc>
                              </valItem>
                              <valItem ident="display">
                                 <desc>formatted like a quotation</desc>
                              </valItem>
                           </valItem>
                        </valList>
                     </attDef>
                  </attList>
               </classSpec>
               <classSpec ident="att.dimensions" mode="change">
                  <attList>
                     <attDef ident="unit" mode="change">
                        <valList mode="add" type="closed">
                           <valItem ident="chars">
                              <skos:exactMatch>char</skos:exactMatch>
                              <skos:exactMatch>characters</skos:exactMatch>
                           </valItem>
                           <valItem ident="lines">
                              <skos:exactMatch>line</skos:exactMatch>
                           </valItem>
                           <valItem ident="pages">
                              <skos:exactMatch>page</skos:exactMatch>
                           </valItem>
                           <valItem ident="words">
                              <skos:exactMatch>word</skos:exactMatch>
                           </valItem>
                           <valItem ident="cm"/>
                           <valItem ident="mm"/>
                           <valItem ident="in"/>
                        </valList>
                     </attDef>
                  </attList>
               </classSpec>
               <classSpec ident="att.global" mode="change">
                  <attList>
                     <attDef ident="rend" mode="delete"/>
                     <attDef ident="style" mode="delete"/>
                     <attDef ident="rendition" mode="change">
                        <valList mode="add" type="semi">
                           <valItem ident="simple:allcaps">
                              <skos:exactMatch>upper-roman</skos:exactMatch>
                              <skos:exactMatch>uc</skos:exactMatch>
                              <desc>all capitals</desc>
                           </valItem>
                           <valItem ident="simple:blackletter">
                              <skos:exactMatch>blackLetter</skos:exactMatch>
                              <skos:exactMatch>blackletterType</skos:exactMatch>
                              <skos:exactMatch>FrakturType</skos:exactMatch>
                              <skos:exactMatch>gothic</skos:exactMatch>
                              <desc>black letter or gothic typeface</desc>
                           </valItem>
                           <valItem ident="simple:bold">
                              <skos:exactMatch>b</skos:exactMatch>
                              <skos:exactMatch>bo</skos:exactMatch>
                              <skos:exactMatch>bol</skos:exactMatch>
                              <skos:exactMatch>strong</skos:exactMatch>
                              <desc>bold typeface</desc>
                           </valItem>
                           <valItem ident="simple:bottombraced">
                              <desc>marked with a brace under the bottom of
		      the text</desc>
                           </valItem>
                           <valItem ident="simple:boxed">
                              <skos:exactMatch>border</skos:exactMatch>
                              <desc>border around the text</desc>
                           </valItem>
                           <valItem ident="simple:centre">
                              <skos:exactMatch>center</skos:exactMatch>
                              <desc>centred</desc>
                           </valItem>
                           <valItem ident="simple:cursive">
                              <desc>cursive typeface</desc>
                           </valItem>
                           <valItem ident="simple:doublestrikethrough">
                              <desc>strikethrough with double line</desc>
                           </valItem>
                           <valItem ident="simple:doubleunderline">
                              <desc>underlined with double line</desc>
                           </valItem>
                           <valItem ident="simple:dropcap">
                              <skos:exactMatch>decorInit</skos:exactMatch>
                              <desc>initial letter larger or decorated</desc>
                           </valItem>
                           <valItem ident="simple:float">
                              <desc>floated out of main flow</desc>
                           </valItem>
                           <valItem ident="simple:italic">
                              <skos:exactMatch/>
                              <skos:exactMatch>italics</skos:exactMatch>
                              <skos:exactMatch>ITALIC</skos:exactMatch>
                              <skos:exactMatch>i</skos:exactMatch>
                              <skos:exactMatch>it</skos:exactMatch>
                              <skos:exactMatch>ital</skos:exactMatch>
                              <desc>italic typeface</desc>
                           </valItem>
                           <valItem ident="simple:larger">
                              <skos:exactMatch>large</skos:exactMatch>
                              <desc>larger type</desc>
                           </valItem>
                           <valItem ident="simple:left">
                              <skos:exactMatch>left</skos:exactMatch>
                              <desc>aligned to the left or left-justified</desc>
                           </valItem>
                           <valItem ident="simple:leftbraced">
                              <skos:exactMatch>braced</skos:exactMatch>
                              <desc>marked with a brace on the left side of
		      the text</desc>
                           </valItem>
                           <valItem ident="simple:letterspace">
                              <skos:exactMatch>spaceletter</skos:exactMatch>
                              <desc>letter-spaced</desc>
                           </valItem>
                           <valItem ident="simple:normalstyle">
                              <desc>upright shape and default weight of typeface</desc>
                           </valItem>
                           <valItem ident="simple:normalweight">
                              <skos:exactMatch>roman</skos:exactMatch>
                              <desc>normal typeface weight</desc>
                           </valItem>
                           <valItem ident="simple:right">
                              <skos:exactMatch>right-aligned</skos:exactMatch>
                              <desc>aligned to the right or right-justified</desc>
                           </valItem>
                           <valItem ident="simple:rightbraced">
                              <desc>marked with a brace to the right of
		      the text</desc>
                           </valItem>
                           <valItem ident="simple:rotateleft">
                              <skos:exactMatch>rotateCounterclockwise</skos:exactMatch>
                              <desc>rotated to the left</desc>
                           </valItem>
                           <valItem ident="simple:rotateright">
                              <skos:exactMatch>rotateClockwise</skos:exactMatch>
                              <desc>rotated to the right</desc>
                           </valItem>
                           <valItem ident="simple:smallcaps">
                              <skos:exactMatch>sc</skos:exactMatch>
                              <skos:exactMatch>smallCap</skos:exactMatch>
                              <desc>small caps</desc>
                           </valItem>
                           <valItem ident="simple:smaller">
                              <skos:exactMatch>small</skos:exactMatch>
                              <desc>smaller type</desc>
                           </valItem>
                           <valItem ident="simple:strikethrough">
                              <desc>strike through</desc>
                           </valItem>
                           <valItem ident="simple:subscript">
                              <skos:exactMatch>sub</skos:exactMatch>
                              <desc>subscript</desc>
                           </valItem>
                           <valItem ident="simple:superscript">
                              <skos:exactMatch>sup</skos:exactMatch>
                              <skos:exactMatch>super</skos:exactMatch>
                              <desc>superscript</desc>
                           </valItem>
                           <valItem ident="simple:topbraced">
                              <desc>marked with a brace above  the text</desc>
                           </valItem>
                           <valItem ident="simple:typewriter">
                              <desc>fixed-width typeface, like typewriter</desc>
                           </valItem>
                           <valItem ident="simple:underline">
                              <skos:exactMatch>u</skos:exactMatch>
                              <desc>underlined with single line</desc>
                           </valItem>
                           <valItem ident="simple:wavyunderline">
                              <desc>underlined  with wavy line</desc>
                           </valItem>
                        </valList>
                        <constraintSpec ident="renditionpointer" scheme="isoschematron">
                           <constraint>
                              <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:*[@rendition]">
                                 <let name="results"
                                      value="for $val in tokenize(normalize-space(@rendition),'\s+') return        starts-with($val,'simple:')        or        (starts-with($val,'#')        and        //tei:rendition[@xml:id=substring($val,2)])"/>
                                 <assert test="every $x in $results satisfies $x">
Error: Each of the rendition values in "<value-of select="@rendition"/>" must point to a local
ID or to a token in the Simple scheme  (<value-of select="$results"/>)</assert>
                              </rule>
                           </constraint>
                        </constraintSpec>
                     </attDef>
                  </attList>
               </classSpec>
            </specGrp>
         </div>
         <div>
            <head>Model classes</head>
            <specGrp xml:id="modelclasses">
               <p>A set of unused model classes are removed.</p>
               <classSpec ident="model.entryPart" mode="delete"/>
               <classSpec ident="model.placeNamePart" mode="delete"/>
               <classSpec ident="model.placeStateLike" mode="delete"/>
               <classSpec ident="model.egLike" mode="delete"/>
               <classSpec ident="model.offsetLike" mode="delete"/>
               <classSpec ident="model.pPart.msdesc" mode="delete"/>
               <classSpec ident="model.oddDecl" mode="delete"/>
               <classSpec ident="model.specDescLike" mode="delete"/>
               <classSpec ident="model.entryPart" mode="delete"/>
               <classSpec ident="model.placeNamePart" mode="delete"/>
               <classSpec ident="model.placeStateLike" mode="delete"/>
               <classSpec ident="model.certLike" mode="delete"/>
               <classSpec ident="model.glossLike" mode="delete"/>
            </specGrp>
         </div>
         <div>
            <head>Elements</head>
            <p>The main part of Simple is the set of selected elements.</p>
            <specGrp xml:id="simple">
               <elementRef key="author"/>
               <elementRef key="bibl"/>
               <elementRef key="date"/>
               <elementRef key="publisher"/>
               <elementRef key="pubPlace"/>
               <elementRef key="title"/>
               <elementRef key="TEI"/>
               <elementRef key="teiCorpus"/>
               <elementRef key="ab"/>
               <elementRef key="abbr"/>
               <elementRef key="actor"/>
               <elementRef key="add"/>
               <elementRef key="address"/>
               <elementRef key="addrLine"/>
               <elementRef key="addSpan"/>
               <elementRef key="am"/>
               <elementRef key="anchor"/>
               <elementRef key="argument"/>
               <elementRef key="back"/>
               <elementRef key="body"/>
               <elementRef key="byline"/>
               <elementRef key="c"/>
               <elementRef key="castGroup"/>
               <elementRef key="castItem"/>
               <elementRef key="castList"/>
               <elementRef key="cb"/>
               <elementRef key="cell"/>
               <elementRef key="choice"/>
               <elementRef key="cit"/>
               <elementRef key="closer"/>
               <elementRef key="corr"/>
               <elementRef key="dateline"/>
               <elementRef key="del"/>
               <elementRef key="desc"/>
               <elementRef key="div"/>
               <elementRef key="docAuthor"/>
               <elementRef key="docDate"/>
               <elementRef key="docEdition"/>
               <elementRef key="docImprint"/>
               <elementRef key="docTitle"/>
               <elementRef key="epigraph"/>
               <elementRef key="ex"/>
               <elementRef key="expan"/>
               <elementRef key="figDesc"/>
               <elementRef key="figure"/>
               <elementRef key="floatingText"/>
               <elementRef key="foreign"/>
               <elementRef key="formula"/>
               <elementRef key="front"/>
               <elementRef key="fw"/>
               <elementRef key="g"/>
               <elementRef key="gap"/>
               <elementRef key="graphic"/>
               <elementRef key="group"/>
               <elementRef key="handShift"/>
               <elementRef key="head"/>
               <elementRef key="hi"/>
               <elementRef key="imprimatur"/>
               <elementRef key="item"/>
               <elementRef key="l"/>
               <elementRef key="label"/>
               <elementRef key="lb"/>
               <elementRef key="lg"/>
               <elementRef key="list"/>
               <elementRef key="listBibl"/>
               <elementRef key="measure"/>
               <elementRef key="milestone"/>
               <elementRef key="name"/>
               <elementRef key="note"/>
               <elementRef key="num"/>
               <elementRef key="opener"/>
               <elementRef key="orig"/>
               <elementRef key="p"/>
               <elementRef key="pb"/>
               <elementRef key="pc"/>
               <elementRef key="postscript"/>
               <elementRef key="q"/>
               <elementRef key="quote"/>
               <elementRef key="ref"/>
               <elementRef key="reg"/>
               <elementRef key="role"/>
               <elementRef key="roleDesc"/>
               <elementRef key="row"/>
               <elementRef key="rs"/>
               <elementRef key="s"/>
               <elementRef key="salute"/>
               <elementRef key="seg"/>
               <elementRef key="sic"/>
               <elementRef key="signed"/>
               <elementRef key="sp"/>
               <elementRef key="space"/>
               <elementRef key="speaker"/>
               <elementRef key="spGrp"/>
               <elementRef key="stage"/>
               <elementRef key="subst"/>
               <elementRef key="supplied"/>
               <elementRef key="table"/>
               <elementRef key="text"/>
               <elementRef key="time"/>
               <elementRef key="titlePage"/>
               <elementRef key="titlePart"/>
               <elementRef key="trailer"/>
               <elementRef key="unclear"/>
               <elementRef key="w"/>
               <p>A small number of elements have constrained value lists added.</p>
               <elementSpec ident="formula" mode="change">
                  <attList>
                     <attDef ident="notation" mode="change">
                        <valList mode="add" type="semi">
                           <valItem ident="TeX">
                              <desc>Using TeX or LaTeX notation</desc>
                           </valItem>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="name" mode="change">
                  <attList>
                     <attDef ident="type" mode="change">
                        <valList mode="add" type="closed">
                           <valItem ident="person"/>
                           <valItem ident="forename"/>
                           <valItem ident="surname"/>
                           <valItem ident="personGenName"/>
                           <valItem ident="personRoleName"/>
                           <valItem ident="personAddName"/>
                           <valItem ident="nameLink"/>
                           <valItem ident="organisation"/>
                           <valItem ident="country"/>
                           <valItem ident="placeGeog"/>
                           <valItem ident="place"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="cell" mode="change">
                  <attList>
                     <attDef ident="role" mode="change">
                        <valList mode="add" type="closed">
                           <valItem ident="data"/>
                           <valItem ident="label"/>
                           <valItem ident="sum"/>
                           <valItem ident="total"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="row" mode="change">
                  <attList>
                     <attDef ident="role" mode="change">
                        <valList mode="add" type="closed">
                           <valItem ident="data"/>
                           <valItem ident="label"/>
                           <valItem ident="sum"/>
                           <valItem ident="total"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="title" mode="change">
                  <attList>
                     <attDef ident="level" mode="change">
                        <valList mode="add" type="closed">
                           <valItem ident="a"/>
                           <valItem ident="j"/>
                           <valItem ident="m"/>
                           <valItem ident="s"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
            </specGrp>
         </div>
         <schemaSpec ident="teisimple" start="TEI teiCorpus">
            <specGrpRef target="#base"/>
            <specGrpRef target="#header"/>
            <specGrpRef target="#transcr"/>
            <specGrpRef target="#attclasses"/>
            <specGrpRef target="#modelclasses"/>
            <specGrpRef target="#simple"/>
         </schemaSpec>
      </body>
   </text>
</TEI>
