teisimple.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" startMode="validate">
  <mode name="validate">
    <namespace ns="http://www.tei-c.org/ns/1.0">
      <validate schema="teisimple.isosch" useMode="attach"/>
      <validate schema="teisimple.rng" />
    </namespace>
  </mode>
  <mode name="attach">
    <anyNamespace><attach/></anyNamespace>
  </mode> 
</rules>
