teisimple.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI Simple</title>
         </titleStmt>
         <publicationStmt>
            <p/>
         </publicationStmt>
         <sourceDesc>
            <p/>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <list type="gloss">
            <label/>
            <item>author ab address addrLine anchor back bibl body cb cit date div figDesc figure floatingText foreign formula front fw g graphic group head hi item l label lb lg list listBibl measure milestone note num p pb q quote ref rs seg sp speaker spGrp stage teiCorpus TEI text time title </item>
            <label>castlist</label>
            <item>actor castGroup castItem castList role roleDesc </item>
            <label>editorial</label>
            <item>abbr add addSpan choice corr del desc expan gap handShift orig reg sic space supplied unclear am ex </item>
            <label>header</label>
            <item/>
            <label>linguistic</label>
            <item>c pc s w </item>
            <label>name</label>
            <item>name </item>
            <label>table</label>
            <item>cell row table </item>
            <label>titlepage</label>
            <item>docAuthor docDate docEdition docImprint docTitle imprimatur publisher pubPlace titlePage titlePart </item>
            <label>wrapper</label>
            <item>argument byline closer dateline epigraph opener postscript salute signed trailer </item>
         </list>
         <specGrp xml:id="changes">
            <classSpec ident="model.entryPart" mode="delete"/>
            <classSpec ident="model.placeNamePart" mode="delete"/>
            <classSpec ident="model.placeStateLike" mode="delete"/>
            <classSpec ident="model.egLike" mode="delete"/>
            <classSpec ident="model.offsetLike" mode="delete"/>
            <classSpec ident="model.pPart.msdesc" mode="delete"/>
            <classSpec ident="model.oddDecl" mode="delete"/>
            <classSpec ident="model.specDescLike" mode="delete"/>
            <classSpec ident="model.entryPart" mode="delete"/>
            <classSpec ident="model.placeNamePart" mode="delete"/>
            <classSpec ident="model.placeStateLike" mode="delete"/>
            <classSpec ident="model.certLike" mode="delete"/>
            <classSpec ident="model.glossLike" mode="delete"/>
            <classSpec ident="att.global.linking" mode="change">
               <attList>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" mode="change">
               <attList>
                  <attDef ident="target" mode="change">
                     <constraintSpec ident="validtarget" scheme="isoschematron">
                        <constraint>
                           <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:*[@target]">
                              <let name="results"
                                   value="for $t in        tokenize(normalize-space(@target),'\s+') return starts-with($t,'#') and not(id(substring($t,2)))"/>
                              <report test="some $x in $results  satisfies $x">
Error: Every local pointer in "<value-of select="@target"/>" must point to an ID in
this document (<value-of select="$results"/>)</report>
                           </rule>
                        </constraint>
                     </constraintSpec>
                  </attDef>
               </attList>
            </classSpec>
            <classSpec ident="att.datcat" mode="delete"/>
            <classSpec ident="att.global" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="change">
                     <valList mode="add" type="semi">
                        <valItem ident="simple:bold"/>
                        <valItem ident="simple:bold"/>
                        <valItem ident="simple:allcapl"/>
                        <valItem ident="simple:italic"/>
                        <valItem ident="simple:normalweight"/>
                        <valItem ident="simple:smallcaps"/>
                        <valItem ident="simple:doublestrikethrough"/>
                        <valItem ident="simple:strikethrough"/>
                        <valItem ident="simple:subscript"/>
                        <valItem ident="simple:superscript"/>
                        <valItem ident="simple:typewriter"/>
                        <valItem ident="simple:doubleunderline"/>
                        <valItem ident="simple:underline"/>
                        <valItem ident="simple:wavyunderlline"/>
                     </valList>
                     <constraintSpec ident="rendptr" scheme="isoschematron">
                        <constraint>
                           <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:*[@rendition]">
                              <let name="results"
                                   value="for $val in tokenize(normalize-space(@rendition),'\s+') return        starts-with($val,'simple:')        or        (starts-with($val,'#')        and        //tei:rendition[@xml:id=substring($val,2)])"/>
                              <assert test="every $x in $results satisfies $x">
Error: Each of the rendition values in "<value-of select="@rendition"/>" must point to a local
ID or to a token in the Simple scheme  (<value-of select="$results"/>)</assert>
                           </rule>
                        </constraint>
                     </constraintSpec>
                  </attDef>
               </attList>
            </classSpec>
         </specGrp>
         <specGrp xml:id="transcr">
            <elementRef key="damage"/>
            <elementRef key="damageSpan"/>
            <elementRef key="facsimile"/>
            <elementRef key="line"/>
            <elementRef key="listTranspose"/>
            <elementRef key="metamark"/>
            <elementRef key="mod"/>
            <elementRef key="redo"/>
            <elementRef key="restore"/>
            <elementRef key="retrace"/>
            <elementRef key="sourceDoc"/>
            <elementRef key="surface"/>
            <elementRef key="surfaceGrp"/>
            <elementRef key="surplus"/>
            <elementRef key="transpose"/>
            <elementRef key="undo"/>
            <elementRef key="zone"/>
            <classRef key="att.coordinated"/>
            <classRef key="att.global.change"/>
         </specGrp>
         <specGrp xml:id="header">
            <moduleRef key="header"/>
            <elementRef key="biblStruct"/>
            <elementRef key="charDecl"/>
            <elementRef key="glyph"/>
            <elementRef key="imprint"/>
            <elementRef key="monogr"/>
            <elementRef key="relatedItem"/>
            <elementRef key="resp"/>
            <elementRef key="respStmt"/>
            <elementRef key="teiHeader"/>
            <elementRef key="textDesc"/>
            <elementRef key="glyphName"/>
            <elementRef key="localName"/>
            <elementRef key="value"/>
            <elementRef key="charProp"/>
            <elementRef key="att"/>
            <elementRef key="gi"/>
            <elementRef key="term"/>
            <elementRef key="editor"/>
            <elementRef key="email"/>
            <elementSpec ident="text" mode="change">
               <constraintSpec ident="headeronlyelement" scheme="isoschematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron"
                           context="tei:term|tei:editor|tei:email|tei:att|tei:gi">
                        <report test="ancestor::tei:text">Error: The element <name/> is not permitted outside the header</report>
                     </rule>
                  </constraint>
               </constraintSpec>
            </elementSpec>
         </specGrp>
         <specGrp xml:id="atts">
            <classRef key="att.global.facs"/>
            <classRef key="att.citing"/>
            <classRef key="att.measurement"/>
            <classRef key="att.milestoneUnit"/>
            <classRef key="att.pointing"/>
            <classRef key="att.global.linking"/>
            <classRef key="att.typed"/>
         </specGrp>
         <specGrp xml:id="simple">
            <elementRef key="author"/>
            <elementRef key="ab"/>
            <elementRef key="abbr"/>
            <elementRef key="actor"/>
            <elementRef key="add"/>
            <elementRef key="address"/>
            <elementRef key="addrLine"/>
            <elementRef key="addSpan"/>
            <elementRef key="anchor"/>
            <elementRef key="argument"/>
            <elementRef key="back"/>
            <elementRef key="bibl"/>
            <elementRef key="body"/>
            <elementRef key="byline"/>
            <elementRef key="c"/>
            <elementRef key="castGroup"/>
            <elementRef key="castItem"/>
            <elementRef key="castList"/>
            <elementRef key="cb"/>
            <elementRef key="cell"/>
            <elementRef key="choice"/>
            <elementRef key="cit"/>
            <elementRef key="closer"/>
            <elementRef key="corr"/>
            <elementRef key="date"/>
            <elementRef key="dateline"/>
            <elementRef key="del"/>
            <elementRef key="desc"/>
            <elementRef key="div"/>
            <elementRef key="docAuthor"/>
            <elementRef key="docDate"/>
            <elementRef key="docEdition"/>
            <elementRef key="docImprint"/>
            <elementRef key="docTitle"/>
            <elementRef key="epigraph"/>
            <elementRef key="expan"/>
            <elementRef key="figDesc"/>
            <elementRef key="figure"/>
            <elementRef key="floatingText"/>
            <elementRef key="foreign"/>
            <elementRef key="formula"/>
            <elementRef key="front"/>
            <elementRef key="fw"/>
            <elementRef key="g"/>
            <elementRef key="gap"/>
            <elementRef key="graphic"/>
            <elementRef key="group"/>
            <elementRef key="handShift"/>
            <elementRef key="head"/>
            <elementRef key="hi"/>
            <elementRef key="imprimatur"/>
            <elementRef key="item"/>
            <elementRef key="l"/>
            <elementRef key="label"/>
            <elementRef key="lb"/>
            <elementRef key="lg"/>
            <elementRef key="list"/>
            <elementRef key="listBibl"/>
            <elementRef key="measure"/>
            <elementRef key="milestone"/>
            <elementRef key="name"/>
            <elementRef key="note"/>
            <elementRef key="num"/>
            <elementRef key="opener"/>
            <elementRef key="orig"/>
            <elementRef key="p"/>
            <elementRef key="pb"/>
            <elementRef key="pc"/>
            <elementRef key="postscript"/>
            <elementRef key="publisher"/>
            <elementRef key="pubPlace"/>
            <elementRef key="q"/>
            <elementRef key="quote"/>
            <elementRef key="ref"/>
            <elementRef key="reg"/>
            <elementRef key="role"/>
            <elementRef key="roleDesc"/>
            <elementRef key="row"/>
            <elementRef key="rs"/>
            <elementRef key="s"/>
            <elementRef key="salute"/>
            <elementRef key="seg"/>
            <elementRef key="sic"/>
            <elementRef key="signed"/>
            <elementRef key="sp"/>
            <elementRef key="space"/>
            <elementRef key="speaker"/>
            <elementRef key="spGrp"/>
            <elementRef key="stage"/>
            <elementRef key="supplied"/>
            <elementRef key="table"/>
            <elementRef key="teiCorpus"/>
            <elementRef key="TEI"/>
            <elementRef key="text"/>
            <elementRef key="time"/>
            <elementRef key="title"/>
            <elementRef key="titlePage"/>
            <elementRef key="titlePart"/>
            <elementRef key="trailer"/>
            <elementRef key="unclear"/>
            <elementRef key="w"/>
            <elementRef key="am"/>
            <elementRef key="ex"/>
         </specGrp>
         <schemaSpec ident="oddbyexample" start="TEI teiCorpus">
            <moduleRef key="tei"/>
            <specGrpRef target="#base"/>
            <specGrpRef target="#header"/>
            <specGrpRef target="#transcr"/>
            <specGrpRef target="#atts"/>
            <specGrpRef target="#simple"/>
            <specGrpRef target="#changes"/>
         </schemaSpec>
      </body>
   </text>
</TEI>
