polygon/TreasureIsland/ti.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>ODD by Example customization</title>
         </titleStmt>
         <editionStmt>
            <edition>generated on <date>2014-09-30T11:58:06Z</date>
            </edition>
         </editionStmt>
         <publicationStmt>
            <p/>
         </publicationStmt>
         <sourceDesc>
            <p>generated by oddbyexample.xsl, based on analyzing 1 files from
               /home/ouit0180/TEI-Simple/Test/OTA</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="oddbyexample" start="TEI ">
            <moduleRef key="tei"/>
            <moduleRef key="core"
               include="addrLine address author email head l lg name p ptr quote term title"/>
            <elementSpec ident="quote" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
               <process name="makeBlock(.)" mode="render" class="italic"/>

               <!-- 
                  <process
                     xpath="not(parent::person) and (@when or @when-custom)"
                     name="makeMarginalNote(if (@when-custom) then @when-custom else @when)"
                     mode="render"
                     class="altdate"/>
                  -->

            </elementSpec>
            <elementSpec ident="p">
               <process xpath="" name="makeParagraph(.)" mode="render"/>
            </elementSpec>

            <elementSpec ident="head" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>

               <!-- chapter headings -->
               <process xpath="parent::div[@type='div3']" name="makeHeader(.)" mode="render"
                  class="chapterHeader"/>

               <!-- part headings -->
               <process xpath="parent::div[not(@type)]" name="makeHeader(.)" mode="render"
                  class="partHeader"/>

               <!-- verse headings -->
               <process xpath="parent::lg" name="makeHeader(.)" mode="render" class="verseHeader"/>
            </elementSpec>

            <elementSpec ident="lg" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
               <!-- line groups to be processed as block divisions -->
               <process xpath="" name="makeBlock(.)" mode="render" class="verse"/>

            </elementSpec>

            <elementSpec ident="l">
               <!-- verse lines to be processed as newlines -->
               <process xpath="" name="makeNewline(.)" mode="render" class="verse"/>
            </elementSpec>

            <moduleRef key="header"
               include="availability change distributor fileDesc idno keywords langUsage language licence profileDesc publicationStmt revisionDesc sourceDesc teiHeader textClass titleStmt"/>
            <moduleRef key="textstructure" include="TEI body div floatingText front text"/>
            <elementSpec ident="floatingText" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
               <!-- floatingText to be processed as block division -->
               <process xpath="" name="makeBlock(.)" mode="render" class="border"/>
            </elementSpec>

            <elementSpec ident="front">
               <!-- front to be processed as block division -->
               <process xpath="" name="makeBlock(.)" mode="render"/>
            </elementSpec>
            <elementSpec ident="body">
               <!-- body to be processed as block division -->
               <process xpath="" name="makeBlock(.)" mode="render"/>
            </elementSpec>

            <elementSpec ident="div" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="div3"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>


            <classSpec ident="att.patternReplacement" module="header" type="atts" mode="delete"/>
            <classSpec ident="att.milestoneUnit" module="core" type="atts" mode="delete"/>


            <!-- further on header or general TEI elements only; no processing model necessary -->
            <elementSpec ident="term" mode="change">
               <attList>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="class"/>
                        <valItem ident="genre"/>
                        <valItem ident="license"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="name" mode="change">
               <attList>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="ptr" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="main"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="main"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="idno" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="ota"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="availability" mode="change">
               <attList>
                  <attDef ident="status" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="free"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="licence" mode="change">
               <attList>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="language" mode="change">
               <attList>
                  <attDef ident="usage" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="change" mode="change">
               <attList>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>


         </schemaSpec>
      </body>
   </text>
</TEI>
