polygon/AbelLeibmedicus/abel.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>ODD by Example customization for Abel Leibmediduc</title>
         </titleStmt>
         <editionStmt>
            <edition>generated on <date>2014-10-06T12:54:54Z</date>
            </edition>
         </editionStmt>
         <publicationStmt>
            <p/>
         </publicationStmt>
         <sourceDesc>
            <p>generated by oddbyexample.xsl, based on analyzing 1 files from /home/ouit0180/TEI-Simple/Test/DTA/test</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="oddbyexample" start="TEI ">
            <moduleRef key="tei"/>
            <moduleRef key="core"
                       include="cb cit gap head hi item l lb lg list milestone note p pb pubPlace publisher quote ref title"/>
            <elementSpec ident="p" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
               <process xpath="" name="makeParagraph(.)" mode="render"/>
               
            </elementSpec>
            <elementSpec ident="hi" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
               <process xpath="" name="makeInline(.)" mode="render" class="italic"/>
               
            </elementSpec>
            
            <elementSpec ident="l">
               <!-- verse lines to be processed as newlines -->
               <process context="" name="makeNewline(.)" mode="render" class="verse"/>
            </elementSpec>
            
            <elementSpec ident="quote" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
               <process name="makeBlock(.)" mode="render" class="italic"/>
               
            </elementSpec>
            <elementSpec ident="cit" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="gap" mode="change">
               <attList>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="unit" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="chars"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="ref" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
               <process xpath="" name="makeInline(@ref)" mode="render" class="italic"/>
               
            </elementSpec>
            <elementSpec ident="list" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="item" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="head" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
               <process context="" name="makeHeader(.)" mode="render"
                  class="partHeader"/>
               
            </elementSpec>
            <elementSpec ident="note" mode="change">
               <attList>
                  <attDef ident="anchored" mode="delete"/>
                  <attDef ident="targetEnd" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="place" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="foot"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="milestone" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="unit" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="section"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pb" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="lb" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
               <!-- line breaks to be processed as newlines -->
               <process context="" name="makeNewline(.)" mode="render"/>
               
            </elementSpec>
            <elementSpec ident="cb" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publisher" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pubPlace" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="l" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="lg" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="poem"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <moduleRef key="figures" include="cell figure row table"/>
            <elementSpec ident="table" mode="change">
               <attList>
                  <attDef ident="rows" mode="delete"/>
                  <attDef ident="cols" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="row" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="rows" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="cell" mode="change">
               <attList>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="figure" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="place" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
               <process context="" name="makeFigure(.)" mode="render" class="figure"/>
               
            </elementSpec>
            <moduleRef key="header"
                       include="fileDesc publicationStmt sourceDesc teiHeader titleStmt"/>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.patternReplacement"
                       module="header"
                       type="atts"
                       mode="delete"/>
            <classSpec ident="att.ascribed" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.canonical" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.ranging" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.dimensions" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
                  <attDef ident="atLeast" mode="delete"/>
                  <attDef ident="atMost" mode="delete"/>
                  <attDef ident="min" mode="delete"/>
                  <attDef ident="max" mode="delete"/>
                  <attDef ident="confidence" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
                  <attDef ident="atLeast" mode="delete"/>
                  <attDef ident="atMost" mode="delete"/>
                  <attDef ident="min" mode="delete"/>
                  <attDef ident="max" mode="delete"/>
                  <attDef ident="confidence" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.breaking" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.cReferencing" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.datable.w3c" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.datable" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datcat" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.declarable" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.declaring" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.fragmentable" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.divLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
                  <attDef ident="met" mode="delete"/>
                  <attDef ident="real" mode="delete"/>
                  <attDef ident="rhyme" mode="delete"/>
                  <attDef ident="part" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.docStatus" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.duration.w3c" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.duration.iso" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.responsibility"
                       module="tei"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.editLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="evidence" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
                  <attDef ident="atLeast" mode="delete"/>
                  <attDef ident="atMost" mode="delete"/>
                  <attDef ident="min" mode="delete"/>
                  <attDef ident="max" mode="delete"/>
                  <attDef ident="confidence" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.global" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.handFeatures" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.internetMedia"
                       module="tei"
                       type="atts"
                       mode="delete"/>
            <classSpec ident="att.media" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
                  <attDef ident="mimeType" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.resourced" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.interpLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="inst" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.measurement" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.naming" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.typed" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.pointing.group"
                       module="tei"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.readFrom" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.scoping" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.segLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
                  <attDef ident="met" mode="delete"/>
                  <attDef ident="real" mode="delete"/>
                  <attDef ident="rhyme" mode="delete"/>
                  <attDef ident="datcat" mode="delete"/>
                  <attDef ident="valueDatcat" mode="delete"/>
                  <attDef ident="part" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.sortable" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.edition" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.spanning" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.styleDef" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.tableDecoration"
                       module="tei"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="cols" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.transcriptional"
                       module="tei"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
                  <attDef ident="evidence" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
                  <attDef ident="atLeast" mode="delete"/>
                  <attDef ident="atMost" mode="delete"/>
                  <attDef ident="min" mode="delete"/>
                  <attDef ident="max" mode="delete"/>
                  <attDef ident="confidence" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.translatable" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.citing" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.source" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.personal" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="sort" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </classSpec>
            <moduleRef key="textstructure"
                       include="TEI back body byline div docAuthor docDate docImprint docTitle front text titlePage titlePart trailer"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
               <process context="" name="makeBlock(.)" mode="render"/>
               
            </elementSpec>
            <elementSpec ident="div" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="contents"/>
                     </valList>
                  </attDef>
               </attList>
               <process context="" name="makeBlock(.)" mode="render"/>
               
            </elementSpec>
            <elementSpec ident="trailer" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
               <process context="" name="makeBlock(.)" mode="render"/>
               
            </elementSpec>
            <elementSpec ident="byline" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
               <process context="" name="makeBlock(.)" mode="render"/>
               
            </elementSpec>
            <elementSpec ident="titlePage" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="main"/>
                     </valList>
                  </attDef>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
               <process context="" name="makeTitlePage(.)" mode="render" class="titlePage"/>
               
            </elementSpec>
            <elementSpec ident="docTitle" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titlePart" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="main"/>
                        <valItem ident="sub"/>
                     </valList>
                  </attDef>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="docAuthor" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="docImprint" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="docDate" mode="change">
               <attList>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="front" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
               <process context="" name="makeBlock(.)" mode="render"/>
               
            </elementSpec>
            <elementSpec ident="back" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <moduleRef key="transcr" include="fw space supplied"/>
            <elementSpec ident="fw" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="catch"/>
                        <valItem ident="header"/>
                        <valItem ident="sig"/>
                     </valList>
                  </attDef>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="place" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="bottom"/>
                        <valItem ident="top"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="space" mode="change">
               <attList>
                  <attDef ident="dim" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="horizontal"/>
                     </valList>
                  </attDef>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="supplied" mode="change">
               <attList>
                  <attDef ident="reason" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.global.change"
                       module="transcr"
                       type="atts"
                       mode="delete"/>
            <classSpec ident="att.coordinated"
                       module="transcr"
                       type="atts"
                       mode="delete"/>
         </schemaSpec>
      </body>
   </text>
</TEI>
